{% extends "layout.html" %}
{% if title == 'create' %}
{% set active_link = 'create' %}
{% endif %}


{% block content %}
<div class="row">
  <h1 class="mt-5">
    {% if title == 'create' %}
    Create a Template!
    {% elif title == 'edit' %}
    Edit Template
    {% endif %}
  </h1>

</div>
<div class="mt-5">
  <nav id="tab">
    <div class="nav nav-tabs nav-fill" role="tablist">
      <button id="uploadNavButton" class="nav-link {% if title=="edit" %} disabled {% else %} active {% endif %}"
        role="tab" type="button" data-bs-toggle="tab" data-bs-target="#nav-upload">
        <span id="uploadNavBadge" class="badge bg-warning text-dark rounded-circle mx-2">1</span><span
          class="mx-2">Upload</span>
      </button>
      <button id="alignNavButton" class="nav-link disabled" role="tab" type="button" data-bs-toggle="tab"
        data-bs-target="#nav-align">
        <span id="alignNavBadge" class="badge bg-secondary rounded-circle mx-2">2</span><span class="mx-2">Align</span>
      </button>
      <button id="defineNavButton" class="nav-link {% if title=="edit" %} active {% else %} disabled {% endif %}
        disabled" role="tab" type="button" data-bs-toggle="tab" data-bs-target="#nav-define">
        <span id="defineNavBadge" class="badge bg-secondary rounded-circle mx-2">3</span><span
          class="mx-2">Define</span>
      </button>
      <button id="saveNavButton" class="nav-link disabled" role="tab" type="button" data-bs-toggle="tab"
        data-bs-target="#nav-save">
        <span id="saveNavBadge" class="badge bg-secondary rounded-circle mx-2">4</span class="mx-2">Save</span>
      </button>
    </div>
  </nav>
</div>

<div class="tab-content" id="nav-tabContent">
{% if title=="create" %}
  <div class="tab-pane fade show active" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
    <div class="row" id="formRow">
      <form method="POST" enctype="multipart/form-data" id="uploadImgForm">
        <label class="row m-2" for="photoUpload">Upload an image of your filled template</label>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="file" name="uploadedImg" id="photoUpload" accept="image/*" />
        <div>
          <input class="btn btn-success mt-1" type="submit" value="Upload" id="uploadImgBtn" />
        </div>
      </form>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-align" role="tabpanel" aria-labelledby="nav-align-tab">
    <div class="d-flex align-items-center flex-column" id="alignCanvasDiv">
      <canvas id="alignCanvas" width="600px" height="400px"></canvas>
      <div class="d-flex flex-column mx-3 canvas-controls" id="alignCanvasControls">
        <button class="mt-2 col-auto btn btn-dark btn-small" id="alignCanvasSubmit"><i
            class="fas fa-check"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="alignCanvasZoomIn"><i
            class="fas fa-search-plus"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="alignCanvasZoomOut"><i
            class="fas fa-search-minus"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="alignCanvasPanMode"><i
            class="fas fa-hand-paper"></i></button>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="tab-pane fade" id="nav-save" role="tabpanel" aria-labelledby="nav-save-tab">
    <div class="alert alert-success mt-2" role="alert">
      Template created successfully!
    </div>
    <div class="row d-flex justify-content-center align-items-center">
      <i class="col-auto fas fa-check-circle my-5" style="color: green; font-size:500%"></i>
      <h3 class="text-center">Click <a href="/view">here</a> to view all templates.</h3>
    </div>
  </div>
  <div class="tab-pane fade {% if title=="edit" %} active show {%endif%}" id="nav-define" role="tabpanel"
    aria-labelledby="nav-home-tab">
    <form action="/newform">
      <div class="row d-flex justify-content-around mt-3">
        <div class="col-md-6">
          <input type="text" id='templateName' name="templateName" class="form-control" placeholder="template name">
        </div>
        <div class="col-md-3">
          <div class="form-check form-switch">
            <input name="public" id="publicToggle" type="checkbox" class="form-check-input" checked>
            <label for="publicToggle" class="form-check-label">Public Template</label>
          </div>
        </div>
      </div>
      <button type="submit" hidden>_</button>
    </form>

    <div class="d-flex align-items-center flex-column canvas-controls" id="defineCanvasDiv">
      <canvas id="defineCanvas" width="600px" height="400px"></canvas>
      <div id="defineCanvasQnControls">
        <div class="btn-group">
          <div class="btn-group col">
            <button type="button" class="btn btn-dark text-nowrap">Currently defining Question 1</button>
            <button class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
              data-bs-auto-close="outside" id="pickQn">
            </button>
            <ul id="defineCanvasControlsList" class="dropdown-menu dropdown-menu-end mx-1">
              <li id="addQn"><a href="#"><span class="badge bg-secondary m-1">+</span></a></li>
            </ul>
          </div>
          <div class="btn btn-dark col">
            <input type="text" id="questionName" name="questionName" class="form-control" placeholder="question name">
          </div>
          <div class="col btn btn-dark d-flex align-items-center">
            <div class="form-check form-switch">
              <input name="multiple" id="multipleToggle" type="checkbox" class="form-check-input" checked>
              <label for="multipleToggle" class="form-check-label">Multiple Answers</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column mx-3" id="defineCanvasControls">
      <button class="mt-2 col-auto btn btn-dark btn-small" id="defineCanvasSubmit"><i class="fas fa-save"></i></button>
      <button class="mt-2 col-auto btn btn-dark btn-small" id="addCircle"><i class="fas fa-plus-circle"></i></button>
      <button class="mt-2 col-auto btn btn-dark btn-small" id="defineCanvasZoomIn"><i
          class="fas fa-search-plus"></i></button>
      <button class="mt-2 col-auto btn btn-dark btn-small" id="defineCanvasZoomOut"><i
          class="fas fa-search-minus"></i></button>
      <button class="mt-2 col-auto btn btn-dark btn-small" id="defineCanvasPanMode"><i
          class="fas fa-hand-paper"></i></button>
    </div>
  </div>
</div>
<div class="card" id="answerPopup" hidden style="position: absolute;">
  <div class="card-header" id="questionPopup">
    Question
  </div>
  <div class="questionNum card-body">
    <input type="text" placeholder="answer value" name="value" id="answerValue" class="form-control">
    <div class="d-flex justify-content-around mt-2">
      <button class="btn btn-primary" id="submitPopup">Save</button>
      <button class="btn btn-danger" id="deletePopup">Delete</button>
    </div>
  </div>
</div>


<script>const csrf_token = " {{ csrf_token() }}"</script>

<script src={{ url_for("static",filename="/scripts/fabric.min.js" ) }}></script>
<script src={{ url_for("static",filename="/scripts/canvasScript.js" ) }}></script>
{% if title=='edit' %}
<script>
  const tempId = "{{template.id}}"
  const imgData = "{{template_img}}"
</script>
<script src={{ url_for("static",filename="/scripts/templateEdit.js" ) }}></script>

{% endif %}

{% endblock %}