{% extends "layout.html" %}
{% set active_link = 'create' %}

{% block content %}
<div class="row">
  <h1 class="mt-5">Create a Template!</h1>
</div>
<div class="mt-5">
  <nav id="tab">
    <div class="nav nav-tabs nav-fill" role="tablist">
      <button id="uploadNavButton" class="nav-link active" role="tab" type="button" data-bs-toggle="tab"
        data-bs-target="#nav-upload">
        <span class="badge bg-warning text-dark rounded-circle mx-2">1</span><span class="mx-2">Upload</span>
      </button>
      <button id="alignNavButton" class="nav-link" role="tab" type="button" data-bs-toggle="tab"
        data-bs-target="#nav-align">
        <span class="badge bg-secondary rounded-circle mx-2">2</span><span class="mx-2">Align</span>
      </button>
      <button id="defineNavButton" class="nav-link" role="tab" type="button" data-bs-toggle="tab"
        data-bs-target="#nav-define">
        <span class="badge bg-secondary rounded-circle mx-2">3</span><span class="mx-2">Define</span>
      </button>
      <button id="saveNavButton" class="nav-link" role="tab" type="button" data-bs-toggle="tab"
        data-bs-target="#nav-save">
        <span class="badge bg-secondary rounded-circle mx-2">4</span class="mx-2">Save</span>
      </button>
    </div>
  </nav>
</div>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
    <div class="row" id="formRow">
      <form method="POST" enctype="multipart/form-data" id="uploadImgForm">
        <label class="row m-2" for="photoUpload">Upload an image of your filled template</label>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="file" name="uploadedImg" id="photoUpload" accept="image/*" />
        <div>
          <input class="btn btn-success mt-1" type="submit" value="Upload" id="uploadImgBtn" />
        </div>
      </form>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-align" role="tabpanel" aria-labelledby="nav-align-tab">
    <div class="d-flex align-items-center flex-column" id="alignCanvasDiv">
      <canvas id="alignCanvas" width="600px" height="400px"></canvas>
      <div class="btn-group d-flex flex-column mx-3 canvas-controls" id="alignCanvasControls">
        <button class="mt-2 col-auto btn btn-dark btn-small" id="alignCanvasSubmit"><i
            class="fas fa-check"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="alignCanvasZoomIn"><i
            class="fas fa-search-plus"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="alignCanvasZoomOut"><i
            class="fas fa-search-minus"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="alignCanvasPanMode"><i
            class="fas fa-hand-paper"></i></button>
      </div>
    </div>
  </div>
  <div class=" tab-pane fade" id="nav-define" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="d-flex align-items-center flex-column canvas-controls" id="defineCanvasDiv">
      <canvas id="defineCanvas" width="600px" height="400px"></canvas>
      <div class="btn-group d-flex flex-column mx-3" id="defineCanvasQnControls">
        <div class="btn-group dropend">
          <button class="mt-2 col-auto btn btn-dark btn-small dropdown-toggle" data-bs-toggle="dropdown" id="pickQn"><i
              class="fas fa-plus-question"></i>Currently defining Question 1</current> </button>
          <ul id="defineCanvasControlsList" class="dropdown-menu mx-1">
            <li id="addQn"><a href="#"><span class="badge bg-secondary m-1">+</span></a></li>
            <!-- <li><a href="#"><span class="badge bg-danger questionSelect m-1">1</span></a></li> -->

          </ul>
        </div>
      </div>
      <div class="btn-group d-flex flex-column mx-3" id="defineCanvasControls">
        <button class="mt-2 col-auto btn btn-dark btn-small" id="addCircle"><i class="fas fa-plus-circle"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="defineCanvasSubmit"><i
            class="fas fa-save"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="defineCanvasZoomIn"><i
            class="fas fa-search-plus"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="defineCanvasZoomOut"><i
            class="fas fa-search-minus"></i></button>
        <button class="mt-2 col-auto btn btn-dark btn-small" id="defineCanvasPanMode"><i
            class="fas fa-hand-paper"></i></button>
      </div>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              All Questions
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <div class="row" id="templateFormRow">
                <form action="/newform">
                  <div class="mb-3">
                    {{form.name.label(class ='form-label')}}
                    {{form.name(class='form-control')}}
                  </div>
                  <div class="mb-3">
                    {{form.public.label(class ='form-label')}}
                    {{form.public(class='form-control')}}
                  </div>
                  {% for question in form.questions %}
                  {{form.questions.label(class ='form-label')}}
                  {{form.questions(class='form-control')}}
                  {% endfor %}

                  <div class="mb-3">
                    {{form.category_tags.label(class ='form-label')}}
                    {{form.category_tags(class='form-control')}}
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-save" role="tabpanel" aria-labelledby="nav-save-tab">
      <div class="row"">
          nav save
      </div>
    </div>
  </div> 
</div>
<script>const csrf_token = " {{ csrf_token() }}"</script>
        <script src={{ url_for("static",filename="/scripts/fabric.min.js" ) }}></script>
        <script src={{ url_for("static",filename="/scripts/canvasScript.js" ) }}></script>

        {% endblock %}