{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>
            Create a Template!
        </h1>
    </div>
    <form method="POST" enctype="multipart/form-data">
        <label class="row m-2" for="photoUpload">Upload an image of your filled template</label>
        <input type="file" name="uploadedImg" id="photoUpload">
        <div><input class="btn btn-success mt-1" type="submit" value="Upload">
        </div>
    </form>
</div>
<script src="static/scripts/templateCreation.js"></script>
{% endblock %}