{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Welcome to formpy!</h1>
    </div>
    <div class="row mt-2">
        <h2>Keep your paper forms - automate the analysis!</h2>
    </div>
    <div class="row mt-5">
        <p>
            It's not always possible to completely digitise forms, sometimes you need to stick to the tried and tested
            paper based forms for various reasons. At formpy, we don't try to push digital to force a solution for your
            unique problem, instead we automate the most time consuming part of forms: reading and analysing the data.
        </p>
        <p>With formpy, you can pick a pre-designed template, or completely design your own from scratch. You can then
            distribute these forms and upload the filled in forms that we will read and analyse for you. </p>

    </div>
</div>
{% endblock %}