{% extends "layout.html" %}
{% set active_link = 'read' %}

{% block content %}
<div class="row">
    <h1 class="mt-5">Read Forms</h1>
</div>
<div class="row">
    <h2>Pick a template and upload your completed forms</h2>
</div>
<div class="row">
    <form action="/read" method="POST" enctype="multipart/form-data" id="readForm">
        <div class="row justify-content-center">

            {% for template in templates %}
            <div class="col-lg-4 col-md-6 my-2">
                <div class="card">
                    <img src={{url_for('static', filename="image_storage/template_images/" )}}{{template.id}}.jpeg
                        alt="template-image" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">{{template['name']}}</h5>
                        <p class="card-text"> <small>{{template['questions']|length}} questions</p></small>
                        <div class="btn-group d-flex justify-content-center mx-3">
                            <input class="form-check-input" type="radio" name="templateId" value={{template.id}}>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mb-3 input-group">
            <div class="col-lg-6">
                <label for="formImg">Upload your completed forms:</label>
                <input type="file" name="formImg" id="formImg" class="form-control" multiple>
            </div>
        </div>
        <button class="btn btn-info" id="readFormBtn">Read Form</button>
    </form>
</div>

<!-- form img modal -->
<div class="modal fade" id="formImgModal" tabindex="-1" aria-labelledby="formImgModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formImgModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Detected answers are highlighted in the form image below
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="static/scripts/csvDownload.js"></script>
<script src="static/scripts/formRead.js"></script>
{% endblock %}