{% extends "layout.html" %}
{% set active_link = 'view' %}

{% block content %}
<div class="row">
  <h1 class="mt-5">
    Current Templates
  </h1>
</div>
<div class="row row-cols-sm-2 row-cols-md-3">

  {% for template in templates %}
  <div class="col my-2">
    <div class="card">
      <img src={{url_for('static', filename="image_storage/template_images/" )}}{{template.img_name}}.jpeg
        alt="template-image" class="card-img-top img-fluid">
      <div class="card-body">
        <h5 class="card-title">{{template.name}}</h5>
        <p class="card-text"> <small>{{template.questions|length}} questions</p></small>
        <p class="d-flex justify-content-between card-text text-muted"><small>created by:{% if template.owner
            %}
            {{template.owner.username}}
            {% else %}
            anon
            {% endif %}
          </small>
          {% if template.public%}
          <span class="badge rounded-pill bg-info text-dark">Public</span>
          {% else %}
          <span class="badge rounded-pill bg-dark">Private</span>
          {% endif %}
        </p>
        <div class="btn-group d-flex justify-content-center mx-3">
          <a class="btn btn-outline-info" id="editTemplateButton" href="edit/{{template.id}}">Edit</a>
          <button class="btn btn-outline-danger " id="deleteTemplateButton" data-bs-toggle="modal"
            data-bs-target="#delete{{template.id}}Modal">Delete</button>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delete{{template.id}}Modal" tabindex="-1"
    aria-labelledby="delete{{template.id}}ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="delete{{template.id}}ModalLabel">Are you sure?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete template: {{template['name']}}
        </div>
        <div class="modal-footer">
          <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
          <a type="button" class="btn btn-primary" href="delete/{{template.id}}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}