{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <h1>
            Current Templates
        </h1>
    </div>
    <div class="row row-cols-sm-2 row-cols-md-3">

        {% for template in templates %}
        <div class="col">
            <div class="card" >
                <img src={{url_for('static', filename = "image_storage/template_images/")}}{{template['_id']}}.jpeg alt="template-image" class="card-img-top">
                <div class="card-body">
                    <p class="card-text"> <small>{{template.keys()|length-1}} questions</p></small>
                </div>
                <div class="card-footer">{{template['_id']}}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}