{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <h1>
            Current Templates
        </h1>
    </div>
    <div class="row row-cols-sm-2 row-cols-md-3">

        {% for template in templates %}
        <div class="col my-2">
            <div class="card" >
                <img src={{url_for('static', filename = "image_storage/template_images/")}}{{template['_id']}}.jpeg alt="template-image" class="card-img-top img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{template['name']}}</h5>
                    <p class="card-text"> <small>{{template['questions']|length}} questions</p></small>
                    <div class="btn-group d-flex justify-content-center mx-3">
                        <a class="btn btn-outline-info" id="editTemplateButton" href="edit/{{template['_id']}}">Edit</a>
                        <button class="btn btn-outline-danger " id="deleteTemplateButton" data-bs-toggle="modal" data-bs-target="#delete{{template['_id']}}Modal">Delete</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="delete{{template['_id']}}Modal" tabindex="-1" aria-labelledby="delete{{template['_id']}}ModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="delete{{template['_id']}}ModalLabel">Are you sure?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete template: {{template['name']}}
                </div>
                <div class="modal-footer">
                  <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                  <a type="button" class="btn btn-primary" href="delete/{{template['_id']}}">Delete</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>

{% endblock %}