{% extends "layout.html" %}
{% set active_link = "start" %}
{% block content %}
<div class="mt-5 row">
    <h1>Quick Start Guide</h1>
    <p class="lead mt-2">
        Follow the 4 steps below to get started with formpy!
    </p>
</div>

<div class="accordion mb-3" id="formpySteps">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Step 1 - Create your form document
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
            aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                <ul>
                    <li>
                        Decide how you want to structure your form as multiple choice questions, and then
                        design your form in your preferred application (e.g. Excel, Word, Google Sheets). You can use
                        the <a href="/starter-doc">starter document template</a> shown below to help structure your
                        document.
                    </li>
                    <li>
                        Don't forget to add circles so your users know where to fill in the spots for their answers. (We
                        used
                        the <span style="font-family: u2000;">&#8413;</span> character in size 18 font)
                    </li>
                    <li>
                        Add a border around your form so formpy can use it for alignment when reading your
                        completed forms
                    </li>
                    <li>
                        Convert your form into a pdf and upload in the <a href="/create">create template</a> page. </li>
                </ul>

                </p>
                <figure class="figure">
                    <img src={{ url_for("static",filename="/images/tutorial_images/create.png" ) }} alt=""
                        class="img-fluid figure-img rounded">
                    <figcaption class="figure-caption">
                        Download the above document to get you started <a href="/starter-doc">from here</a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Step 2 - Define your form template
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
                <ul>
                    <li>
                        After you've uploaded a pdf of your template, formpy will detect the border (or add one for you)
                        and add the
                        alignment spots shown in red below. Confirm the spots are in the correct places and click on the
                        green tick.
                    </li>
                    <figure class="figure">
                        <img src={{ url_for("static",filename="/images/tutorial_images/align.png" ) }} alt=""
                            class="img-fluid figure-img rounded">
                        <figcaption class="figure-caption"> Alignment is an important step in the image processing to
                            ensure the locations of the spots are consistent.
                        </figcaption>
                    </figure>
                    <li>
                        Next you will define the questions and answers for your template so formpy can understand your
                        forms and knows where to look for answers when it <a href="#readFormTable">reads the completed
                            forms</a>.
                    </li>
                    <figure class="figure">
                        <img src={{ url_for("static",filename="/images/tutorial_images/define-1.png" ) }} alt=""
                            class="img-fluid figure-img rounded">
                        <figcaption class="figure-caption">This step is our least favourite but you only have to do it
                            once and we promise its worth it!
                        </figcaption>
                    </figure>
                    <li>
                        There's a lot going on here, so we'll do our best to explain!
                        <ul>
                            <li>
                                The template settings include a title for your template (choose something descriptive so
                                you remember what it was for), and a public toggle - this determines whether other users
                                can use your template. You must have an <a href="/register">account</a> and be <a
                                    href="/login">logged
                                    in </a>to have
                                non-public/private templates.
                            </li>
                            <li>
                                Formpy needs to understand where your answers are and what question they belong to. So
                                add a questions and select it (question 1 is created and selected by default)
                                before adding an answer circle and dragging it to the location on the form.
                            </li>
                            <li>
                                When formpy reads your forms it will determine which answer was selected and populate
                                the table with the answer value. You can edit the answer value by clicking on the
                                relevant circle.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Once all your questions and answers have been define, click on the save icon. Well done, that's
                        the most tedious part over with!</li>
                </ul>

                </p>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Step 3 - Print and Collect Data
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <li> Print your forms via the <a href="/view">view templates</a> page, ensure the borders are printed
                    during
                    the page setup before printing.
                </li>
                <li>
                    Step away from the digital realm and distribute your forms to start collecting data! Ensure the
                    circles
                    are filled in completely (we found that black markers work best for marking answers and silver
                    markers
                    to cover up mistakes). Note that formpy will <strong>not understand crossings out</strong> so
                    they'll
                    still be detected as answers.
                </li>
                <figure class="figure">
                    <img src={{ url_for("static",filename="/images/tutorial_images/print.png" ) }} alt=""
                        class="img-fluid figure-img rounded">
                    <figcaption class="figure-caption">Print as many copies as you need to collect your answers/data.
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Step 4 - Read your forms
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
            aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
                <li> The part we've been working towards! Once you've collected your responses, go to the <a
                        href="/read">read forms</a> page.
                </li>
                <li>
                    Select your template, upload the scanned forms (they must be in pdf or image format) and click on
                    read forms.
                </li>
                <figure class="figure">
                    <img src={{ url_for("static",filename="/images/tutorial_images/read1.png" ) }} alt=""
                        class="img-fluid figure-img rounded">
                    <figcaption class="figure-caption">This may take a while depending on the number of forms uploaded.
                    </figcaption>
                </figure>
                <li>
                    For each uploaded form, formpy will align the form, go through each question to find the answer(s)
                    and then record the values in a table.
                </li>
                <li>
                    After this is complete, a table will appear with all your answers.
                </li>
                <figure class="figure">
                    <img id="readFormTable" src={{ url_for("static",filename="/images/tutorial_images/read2.png" ) }}
                        alt="" class="img-fluid figure-img rounded">
                    <figcaption class="figure-caption">The answer values are recorded in the corresponding question
                        (columns) for the form (rows).
                    </figcaption>
                </figure>
                <li>
                    You can export this table as a csv and save it so you can share, analyse, do your thing etc.
                </li>
                <li> Click on the the image icons to see the answers detected by formpy.</li>
                <figure class="figure">
                    <img src={{ url_for("static",filename="/images/tutorial_images/read3.png" ) }} alt=""
                        class="img-fluid figure-img rounded">
                    <figcaption class="figure-caption">Image detection shown by formpy in red.
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-light">
    If you're still feeling a bit stuck or have any ideas to improve, please <a
        href="mailto:ismailmo4@gmail.com?subject=Formpy"> send
        me a message.</a>
</div>
{% endblock %}